header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
}

h1 {
  color: #fff;
  font-weight: 600;
  margin-top: 3%;
}

p {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}
